{% set pagetitle = 'Consent about releasing personal information'|trans %}
{% extends "base.twig" %}

{% block preload %}
<link rel="stylesheet" href="{{ asset('css/consent.css', 'consent') }}">
{% endblock %}

{% block content %}
<p>{{ consent_accept}}</p>

{% if consent_purpose is defined %}
    <p>{{ consent_purpose }}</p>
{% endif %}

<form id="consent_yes" action="{{ yesTarget }}">
    {% if usestorage is defined %}
    <input type="checkbox" name="saveconsent"{% if checked %} checked="checked"{% endif %} value="1" />
    {{ 'Remember'|trans }}
    {% endif %}

    <input type="hidden" name="StateId" value="{{ stateId }}" />
    <button type="submit" name="yes" class="btn" id="yesbutton"{%- if autofocus is defined and autofocus == 'yesbutton' %} autofocus{% endif -%}>{{ 'Yes, continue}'|trans }}</button>
</form>

<form id="consent_no" action="{{ noTarget }}">
    <input type="hidden" name="StateId" value="{{ stateId }}" />
    <button type="submit" class="btn" name="no" id="nobutton"{%- if autofocus is defined and autofocus == 'nobutton' %} autofocus{% endif -%}>{{ 'No, cancel'|trans }}</button>
</form>

{% if sppp != false %}
<p>{{ 'Privacy policy for the service'|trans }}
    <a target='_blank' href='{{ sppp|escape('html') }} '>{{ dstName }}</a>
</p>
{% endif %}

<h3 id="attributeheader">{{ 'Information that will be sent to %SPNAME%'|trans }}</h3>

{% set items = attributes %}

{% embed '_table.twig' -%}

    {% block namecol -%}
    {% set translated = name|trans %}
    <td class="attrname">{% if translated != name %} {{ translated }} <br>{% endif %} <samp>{{ name }}</samp></td>
    {% endblock %}


    {% block value -%}
    {% if name =='jpegPhoto'-%}
        <img src="data:image/jpeg;base64,{{ value }}" />
    {% else %}{{ value }}{% endif -%}
    {% endblock %}

{%- endembed %}


{% if nameid %}
    <h2>{{ 'SAML Subject'|trans }}</h2>

    {%  set items = {'NameId' : nameid.value} %}

    {% if not nameid.value %}
        {%  set items = items|merge({'NameID' : 'not set'|trans}) %}
    {% endif %}

    {% if nameid.Format %}
        {% set items = items|merge({('Format'|trans) : nameid.Format}) %}
    {% endif %}

    {% if nameid.NameQualifier %}
        {% set items = items|merge({'NameQualifier' : nameid.NameQualifier}) %}
    {% endif %}

    {% if nameid.SPNameQualifier %}
        {% set items = items|merge({'SPNameQualifier' : nameid.SPNameQualifier}) %}
    {% endif %}

    {% if nameid.SPProvidedID %}
        {% set items = items|merge({'SPProvidedID' : nameid.SPProvidedID}) %}
    {% endif %}

    <table id="table_with_attributes"  class="attributes pure-table pure-table-striped pure-table-attributes" summary="attribute overview">
        {% for name, value in items %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td class="attrname">{{ name }}</td>
                <td class="attrvalue">{{ value }}</td>
            </tr>
        {% endfor %}
    </table><br>

{% endif %}

{% endblock %}
